
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color: transparent;
    width: 100%;
    z-index: 10;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.left-header {
    display: inline-block;
    margin: 0 20px;
}

.right-header {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 130px;
}

.right-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
    margin-right: 30px;
}

.right-header p {
    color: white;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.left-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
}

.left-header p {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
}

.login-button {
    margin: 0 10px;
    cursor: pointer;
    color: black;
    display: inline-block;
}

.register-button {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.container-content {
    display: inline-block;
    width: 100%;
    height: max-content;
}

.text-section {
    display: inline-block;
    width: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 40px;
    vertical-align: top;
}

.text-section h1 {
    font-size: 2.5em;
}

.text-section p {
    margin: 20px 0;
}

.get-started-button {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.stats {
    display: inline-block;
    text-align: center;
}

.stat-item {
    display: inline-block;
    margin: 0 10px;
    color:#FF8906
}

.stat-item h2 {
    font-size: 2em;
}

.image-section {
    display: inline-block;
    width: 49%;
    height: calc(100vh - 60px);
    background-image: url('./src/icons/latte.svg');
    background-size: cover;
    background-position: center;
}

.chat-container {
    width: 380px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.chat-box {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    height: 400px; 
    display: flex;
    flex-direction: column;
}

.chat-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.chat-message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc; 
    margin-right: 10px; 
    background-image:url('/src/avatar.png');
}

.sent .message {
    background-color: #e1ffc7;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    margin-left: auto;
}

.received .message {
    background-color: #f1f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.chat-input-container {
    display: flex;
    margin-top: auto; 
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.send-button {
    background-color: #FF5722; 
    color: white;
    border: none; 
    padding: 10px 15px;
    margin-left: 5px; 
    border-radius: 5px;
    cursor: pointer; 
}