body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}

main {
    padding: 20px;
    /* background-color: #ff9900; */
}

.content {
    display: flex;

}

h1 {
    color: #333;
}

.order-filters {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    /* background-color: aqua; */
}

.order-filters span {
    margin-right: 10px;
}

.orders {
    flex: 1;
    margin-top: 20px;
}

.order-item {
    display: flex;
    background: #E8E8E84D
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-image {
    width: 100px; 
    height: auto; 
    border-radius: 5px; 
    margin-right: 15px; 
}

.order-info {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
}

.order-details {
    display: flex; 
    justify-content: space-between; 
}

.status {
    background-color: orange; 
    color: white;
    padding: 3px 6px; 
    border-radius: 4px; 
}

.view-details {
    /* background-color: #ff9900;  */
    color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}




.pagination {
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
}

.message-box {
    flex: 1;
    /* background: #fff; */
    padding: 20px;
    margin-top: 20px;

    
}

.box {
    background-color: whitesmoke;
    border: black 1px solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #ff9900;
    text-decoration: none;
}