* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color: transparent;
    width: 100%;
    z-index: 10;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.left-header {
    display: inline-block;
    margin: 0 20px;
}

.right-header {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 130px;
}

.right-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
    margin-right: 30px;
}

.right-header p {
    color: white;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.left-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
}

.left-header p {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
}

.login-button {
    margin: 0 10px;
    cursor: pointer;
    color: black;
    display: inline-block;
}

.register-button {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.container-content {
    display: flex; 
    height: calc(100vh - 60px); 
}

.text-section {
    flex: 1; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    background: linear-gradient(to bottom, #777C82, #0B0909, #0B0909, #0B0909); 
}

.image-section {
    flex: 1; 
    background-image: url('./src/icons/latte.svg');
    background-size: cover;
    background-position: center; 
    min-height: 100%; 
}
.text-section h1 {
    font-size: 2.5em;
}

.text-section p {
    margin: 20px 0;
}

.get-started-button {
    display: inline-block;
    background-color: #FF8906;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    text-align: right;
}

.stat-item {
    display: inline-block;
    margin: 0 10px;
    color:#FF8906
}

.stat-item h2 {
    font-size: 2em;
}



/* .about-section {
    display: inline-block;
    width: 100%;
    padding: 40px;
    background-color: #f5f5f5;
} */

.title {
    font-size: 2.5em; 
    margin-top: 80px;
    margin-bottom: 20px; 
    text-align: center;
    color: white;
}

.text-section > p {
    color: white;
}

.title2 {font-size: 2.5em; 
    margin-bottom: 20px; 
    text-align: center;
}

.description {
    margin-bottom: 20px;
    text-align: center;
}

.left-section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
}
.left-section ul {
    list-style-type: none; 
    padding-left: 0; 
}

.left-section li {
    margin: 10px 0; 
    display: flex; 
    align-items: center; 
}

.checkmark {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

.right-section {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
}

.right-section img {
    width: 100%;
    height: auto;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    margin-bottom: 20px;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section ul li {
    margin-bottom: 10px;
}

.products-section {
    display: inline-block;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.product-card {
    display: inline-block;
    width: 20%;
    margin: 1%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    vertical-align: top;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.product-card p {
    margin: 0;
    padding: 0 10px;
    margin-top: 10px;
}

.price {
    font-size: 1.25em;
    color: #FF5722;
    margin-top: 10px;
}

.buy-button {
    background-color: #FF8906;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 1em;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #e64a19;
}

.cart-button {
    background-color: #FF8906;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 1em;
    transition: background-color 0.3s;
}

.map-section {
    text-align: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.map-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.map-section p {
    margin-bottom: 20px;
    color: #666;
}

.map {
    display: inline-block;
}

.map-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
}

.testimonial-section {
    background-color: #0B0909;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    /* max-width: 800px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.testimonial-image {
    flex: 1;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.testimonial-content {
    flex: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    font-size: 1.5em;
}

.role {
    color: #ddd;
    margin-bottom: 10px;
}

.quote {
    font-style: italic;
    margin: 15px 0;
}

.rating {
    margin-bottom: 10px;
    color:#FF8906
}

.navigation {
    text-align: center;
}
.navigation-image {
    display: flex;
    justify-content: start;
    
}

.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.nav-button img {
    width: 30px;
    height: auto;
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.footer {
    background-color: #f5f5f5;
    padding: 40px 20px;
    text-align: left;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
    padding: 10px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 10px;
    color: #0B132A;
}

.footer-section p {
    color: #666;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.social-media {
    text-align: center;
}

.social-icons {
    display: inline;
    justify-content: center;
}

.social-icons img {
    /* width: 30px; */
    margin: 0 10px;
}

.left-header > a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
}

.right-header > a:first-of-type {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 14px;
    border: 2px solid white;
    padding: 8px 18px;
}

.right-header > a:nth-of-type(2) {
    text-decoration: none;
    color: #0B132A;
    margin: 0 15px;
    font-size: 14px;
    border: #0B0909;
    background-color: #FF8906;
    padding: 8px 18px;
    
}

.about-section {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.about-content {
    flex: 1; 
    margin-right: 20px; 
}

.left-section {
   flex: 1;
}

.right-section {
    flex: 1; 
}

.favorite-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
