body {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color: black;
    width: 100%;
    z-index: 10;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.left-header {
    display: inline-block;
    margin: 0 20px;
}

.right-header {
    display: inline-block;
    vertical-align: middle;
    margin-right: 130px;
}

.right-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
    margin-right: 30px;
}

.right-header p {
    color: white;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.left-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
}

.left-header p {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
}

.login-button {
    margin: 0 10px;
    cursor: pointer;
    color: black;
    display: inline-block;
}

.register-button {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.coupon-container {
    display: inline-block;
}

.coupon-container > img {
    width: 300px;
    height: 109px;
}

.main-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.sidebar {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 10px;
    background-color: black;
    border-right: 1px solid #ddd;
}

.sidebar h3, h4 {
    margin-bottom: 20px;
    color: white;
}

.cek {
    color: white;
    font-size: small;
}
.product-section {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.product-grid {
    display: inline-block;
    width: 100%;
}

.product-card {
    display: inline-block;
    width: 45%;
    padding: auto;
    margin: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 350px;
    width: 300px;
}

.product-image {
    max-width: 75%;
    max-height: 150px;
    object-fit: cover;
}

.price {
    color: #FF5722;
    font-weight: bold;
}

.add-to-cart {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.description {
    margin-top: 10px;
    font-size: small;
}

.promo-content {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f5f5;
    font-size: 24px;
    font-weight: semibold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Footer */
.footer {
    background-color: #f5f5f5;
    padding: 40px 20px;
    text-align: left;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
    padding: 10px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 10px;
    color: #0B132A;
}

.footer-section p {
    color: #666;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.social-media {
    text-align: center;
}

.social-icons {
    display: inline;
    justify-content: center;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

.coupon-container {
    background-color: #f4f4f4;
    display: inline-block;
}

.promo-box {
    position: relative;
    display: flex;
    align-items: center;
}

.rectangle-image {
    position: absolute;
    width: 335px;
    height: 109px;
    z-index: 0;
}

.woman-image {
    width: 96px;
    margin-right: 10px;
    z-index: 1;
    display: inline-block;
}

.promo-text {
    color: #333;
    font-size: small;
    z-index: 1;
}

.promo-text h3 {
    margin: 0;
    font-size: medium;
}

.code {
    font-weight: bold;
    font-size: medium;
}