* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    height: 100vh;
}


.main-container {
    max-width: 1200px;
    margin: 20px 40px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 60px; 
}

.container {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color: black;
    width: 100%;
    z-index: 10;
}

.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.signup,
.signin {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}



.product-info {
    display: flex;
    margin-bottom: 20px;
}

.image-display {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.product-image { 
    max-width: 400px;
    margin: 40px;
}

.main-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.thumbnail-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.thumbnail-images img {
    /* flex: 1;  */
    max-width: 80%; 
    border-radius: 5px; 
    margin: 0 5px; 
}

.thumbnail-images img:last-child {
    margin-right: 0; 
}
.details {
    flex: 1;
}

.buy-button {
    flex: 1;
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.recommendations {
    padding: 20px;
}

.recommended-items {
    display : flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.recommended-item {
    background-color: #f8f8f8; 
    border-radius: 8px;
    padding: 15px; 
    width: calc(33.33% - 15px); 
    margin-bottom: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.rec-details {
    margin-left: 10px;
}

.footer {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.footer p {
    margin: 5px 0;
    color: #666;
}

.recommended-item img {
  width: 100%;
  border-radius: 5px;
}

.rec-details p {
     font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
     font-size: 14px;
    margin: 10px 0;
    text-wrap: wrap;
    color: #333;
}
    
.title {
    font-size: 2.5em; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px; 
    text-align: left;
    color: #0B0909;
}

.recommendations h3 strong {
    color: burlywood;
}


.footer {
    background-color: #f5f5f5;
    padding: 40px 20px;
    text-align: left;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
    padding: 10px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 10px;
    color: #0B132A;
}

.footer-section p {
    color: #666;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.social-media {
    text-align: center;
}

.social-icons {
    display: inline;
    justify-content: center;
}

.social-icons img {
    /* width: 30px; */
    margin: 0 10px;
}

.container {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color: black;
    width: 100%;
    z-index: 10;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}
.left-header {
    display: inline-block;
    margin: 0 20px;
}

.right-header {
    display: inline-block;
    vertical-align: middle;
    margin-right: 130px;
}

.right-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
    margin-right: 30px;
}

.right-header p {
    color: white;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.right-header > a:first-of-type {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 14px;
    border: 2px solid white;
    padding: 8px 18px;
}

.right-header > a:nth-of-type(2) {
    text-decoration: none;
    color: #0B132A;
    margin: 0 15px;
    font-size: 14px;
    border: #0B0909;
    background-color: #FF8906;
    padding: 8px 18px;
    
}

.left-header img {
    height: 25px;
    vertical-align: middle;
    display: inline;
}

.left-header p {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
}

.login-button {
    margin: 0 10px;
    cursor: pointer;
    color: black;
    display: inline-block;
}

.register-button {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.options {
    margin: 20px;
}

.size-options, .hot-ice-options, .buy-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.size-options {
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 10px;
}

.size-button, .ice-button, .hot-button, .add-to-cart-button {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    background-color: white;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
}

.size-button.active, .ice-button:hover, .hot-button:hover {
    border-color: orange;
}

.size-button:hover {
    background-color: #f0f0f0;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.current-price {
    color: orange;
    font-size: 1.5em;
}
.rating {
    margin-top: 10px;
}

.reviews {
    margin-top: 5px;
    color: #666;
}
.description {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.product-right-section {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column; 
    gap: 25px; 
    margin-top: 40px;
}

.left-header a {
    text-decoration: none;
    color: white;
    gap: 10px;
    margin-right: 10px;
}