* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    height: 100vh; /* Make sure body covers full height */
    overflow: auto; /* Enable scrolling for the body */
}

.container {
    display: block; /* Use block display */
    height: auto; /* Let the height be dynamic */
    overflow: hidden; /* Prevent overflowing content */
}

.coffee-image {
    float: left; /* Float the coffee image to the left */
    width: 30%; /* Set width to 50% */
    height: 100%;
}

.coffee-image img {
    width: 100%;
    height: 100%;
}

.registration-form {
    float: right; /* Float registration form to the right */
    width: 70%; /* Set width to 50% */
    height: 100%;
    background-color: #fff;
    padding: 60px;
}

.logo-container {
    text-align: left; /* Center-align the logo */
}

.main-logo {
    margin-bottom: 10px;
}

h2 {
    margin: 20px 0;
    text-align: left; /* Align text to the left */
}

span {
    margin-bottom: 20px;
    color: #555;
    display: block; /* Ensure it occupies a new line */
    text-align: left; /* Align text to the left */
}

.login-ref{
    margin-top: 10px;
    color: #555;
    display: block; /* Ensure it occupies a new line */
    text-align: center; /* Align text to the left */
}
.input-container {
    width: 100%;
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-wrapper {
    position: relative; /* Positioning context for the absolute icon */
}

.input-wrapper input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 40px; /* Extra padding for the icon */
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-icon {
    height: 20px; /* Adjust to your desired icon size */
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px; /* Space from the left */
    transform: translateY(-50%); /* Center vertically */
}

button {
    background-color: #FF5722; /* Orange color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background-color: #e64a19; /* Darker orange on hover */
}

.social-media {
    margin-top: 20px;
}

.social-button {
    margin: 75px;
    display: inline; /* Inline block for buttons */
    color: #333;
    cursor: pointer;
    border-radius: 8px;
}

.social-button img {
    margin-right: 5px;
}