* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

header {
    background-color: transparent; /* Adjust as needed */
    height: 60px; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    color: black; /* Changed to black for better contrast */
    position: relative; 
    z-index: 10; 
}

header img {
    height: 40px; 
    margin-right: 15px;
}

.container {
    display: flex; 
    height: calc(100vh - 60px);
}

.image-section {
    flex: 1; 
    background-image: url('./src/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.registration-form {
    margin-top: 300px;
    flex: 1; 
    background-color: white; 
    color: black; 
    padding: 100px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.registration-form h2 {
    font-size: 2em; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-wrapper {
    position: relative; 
    width: 100%; 
}

.input-wrapper > input {
    width: 100%; 
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 16px; 
}

.input-icon {
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 20px; 
    height: auto; 
    pointer-events: none; 
    margin-right : 10px;
}
.input-container label {
    margin-bottom: 5px;
}

.registration-form button {
    background-color: #FF8906; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 10px; 
}

.social-media {
    margin-top: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.social-button img {
    height: 20px;
    margin-right: 10px;
}

.registration-form > h2 {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    color: #8E6447;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration-form > span {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    color: #4F5665;
    font-size: 16px;
    margin-bottom: 20px;
}

.input-container > label {
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    color: #0B132A;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    vertical-align: middle;
}

.login-ref {
    margin-top: 20px;
    text-align: center;
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    color: #4F5665;
    font-size: 16px;
}


.input-icon {
    margin-left: 10px;
    height: 20px; 
}

.forgot-password {
    text-align: right;
    font-family: 'Plus Jakarta Sans', 'Rubik', sans-serif;
    color: #FF8906;
    font-size: 16px;
    cursor: pointer;
}

.password-recovery {
    text-align: right; 
    margin-top: 5px; 
}

